 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>I believe that frontend is the finishing and we have to impress the user with the usability. That is why I am always studying the newest features of HTML and CSS. A intuitive user experience is priceless.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>There is no internet without JavaScript and since we have Node.js to design the backend structure, this thought become truer.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-gitlab-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <p>Usually, there is a huge number of technologies and tools that we have to use and I decided to use always the most popular at the community of developers so that I can keep up-to-date, contribute with the community and release prjects that follow the patters and good practices.</p>
    </div>
</div>
