 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>I believe that frontend is the finishing and we have to impress the user with the usability, but it is not just about the graphic interface, it is also about the best practices of a clean markup. That is why I am always studying the newest features and releases of HTML and CSS. A intuitive user experience is priceless. 

      I am specialized in QlikView and PowerBI Business Intelligence dashboards design and I have an open mind to research about other technologies such as Tableau and other Microsoft BI softwares (SSIS, SSAS, and SSRS).</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>There is no internet without JavaScript and since Node.js was released and we can now design the backend with JavaScript, this thought became truer. That is the main reason why I choose study JavaSript and left JavaEE in the past. 

      Now, talking about Business Intelligence I prefer to develop my ETL process with QlikView because of its superior performance in terms of data loading. I know it requires a high computing capacity but it is explainable when we have more productivity. I also can develop the ETL Process with Pentaho or PowerBI.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
     <!-- <i class="devicon-gitlab-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>-->
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>Usually, there is a huge number of technologies and tools that we have to use and I decided to use always the most popular at the community of developers so that I can keep up-to-date, contribute with the community and release projects that follow the patters and best practices.</p>
    </div>
</div>
