 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-go-line colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>I'm a Specialist in Golang and Python microservices development.
         Also, I'm specialized in ETL and Dashboard design on Qlikview, PowerBI, Pentaho and SSIS.
         Currently, I'm working on a project with Azure DevOps, Databricks, and Data Factory.
         Docker lover.
      </p>
    </div>
    <div class="tech">
      <h2>Database</h2>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-oracle-plain colored"></i>
      <p>I have worked with dozens of Databases such as PostgreSQL, Oracle, SQL Server, MySQL, ADLS, and MongoDB.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-gitlab-plain colored"></i>
      <i class="devicon-jetbrains-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>I decided to use always the most popular in the developer communities so that I can keep up-to-date, contribute to the community and deliver projects that follow the best practices.

      GitHub / GitLab, VSCode, Goland, DataGrip, Ubuntu, Docker, Azure, GCP, etc.</p>
    </div>
</div>
