<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dashboardPowerBI" src="{{ "/assets/img/img_bi.jpg" | prepend: site.baseurl }}" />
    <img alt="qmcPerformance" src="{{ "/assets/img/qmc_performance.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Business Intelligence Projects </h3>
    <ul>
      <li>QlikView, Pentaho and PowerBI</li>
    </ul>
    <p>Currently, I am working as a Business Intelligence Analyst for the Brazilian's biggest Big Data company called <a href="https://www.neoway.com.br/en/">Neoway Business Solutions</a>.</p> 
    <p>
    I have a huge experience building projects from the ETL process with QlikView or Pentaho to the Dashboards and Analysis with QlikView and PowerBI. I can not show the snapshots here because the customer data is classified, but If you want to know more about it you can email me or send a message on my <a href="www.linkedin.com/in/esequiel-virtuoso-ba49a038">linkedin</a>. 
    </p>

    <p>
    I am also creating a Business Intelligence course with QlikView and PowerBI on YouTube (for free) in order to help the community to learn how to build a professional BI project following the best practices, functional programming, and versioning.
    </p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="apiBackend" src="{{ "/assets/img/api_summary.jpg" | prepend: site.baseurl }}" />
    <img alt="dashboard" src="{{ "/assets/img/admin_lte_sistem.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Web Development Projects</h3>
    <ul>
      <li> Data API with node.js and MongoDB</li>
    </ul>
    <p>I am focused on build Data APIs with Node.JS, PostgreSQL, and MongoDB once I have this demand on Neoway, but I am also passionate to build WEB APPs with the same technologies.</p>

    <p>
    You can check on the snapshots a WEB APP built with Node.JS and AngularJS based on AdminLTE 2. It is a simple APP where I can control my bills. It is better than work on excel with a simple ".xlsx" file. I am not saying that excel is not a good software because it is amazing and a lot of companies around the world still using Excel to analyze data, although I do not recommend that to solve all the company's issues becuse it is not productive.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
